html{
    font-size: 62.5%; /*!!! Reset para REMS =>> 62.5% de 16px= 10px* !!!*/
}

.hideBook{ /* -> Oculta los libros que no son seleccionados, cuando se da click*/
    display: none !important;
}

.book-img{
    max-width: 100%; /* -> Las imagenes son responsivas a su contenedor*/
    width: 15rem;
}

.img-detail{
    max-width: 100%;
    width: 25rem;
}

.list-group-card{
    padding: 0 0 0 0;
}

.list-group-item{
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.top-bar{
    background-color: rgb(35, 35, 35);
    min-height: 3rem;
    margin-top: -3rem;
    min-width: 100%;
    position: fixed;
}

.store-header{
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-size: cover;
    height: 1vh;
    min-height: 18rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.header-content h1{
    margin-top: 0;
    color: azure;
    font-weight: 700;
    font-size: 8rem;
}

.header-content h2{
    font-weight: 500;
    color: azure;
    font-size: 3rem;
}

.footer{
    background-color: rgb(35, 35, 35);
    min-height: 5rem;
    min-width: 100%;
    margin-top: 5rem;
    position: fixed;
}